/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4eff5;
}


@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px) scale(1.5);
    opacity: 0;
  }
}
.bubble {
  position: absolute;
  bottom: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(158, 16, 187, 0.7);
  animation: floatUp 2s ease-out forwards;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}


@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.6;
  }
  50% {
    transform: translateY(-25px);
    opacity: 1;
  }
}

.animated-line {
  width: 4px;
  height: 80px;
  background-color: #facc15; /* Tailwind yellow-400 */
  border-radius: 9999px;
  animation: moveUpDown 2s ease-in-out infinite;
}
